* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --lightGray: #F7F7F7;
    --mutedNavy: #2C3E50;
    --lightTeal: #16A085;
    --white: #FFFFFF;
    --softGray: #BDC3C7;
    --darkGrey: #34495E;
    --black: #2D3436;
    --softBlue: #3498DB;
    --yellow: #F39C12;
    --green: #27AE60;
    --red: #E74C3C;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    position: relative;
}

/* Sidebar Styling */
#sidebar {
    background-color: var(--mutedNavy);
    color: var(--lightGray);
    padding-top: 20px;
    padding-left: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#user {
    display: flex;
    align-items: center;
    gap: 20px;
}

#user span {
    font-weight: bold;
}

#user img {
    width: 40px;
    transition: filter 0.3s ease-in-out;
}

#user img:hover {
    filter: drop-shadow(0 0 10px rgba(22, 160, 133, 0.8)) 
          drop-shadow(0 0 15px rgba(22, 160, 133, 0.6)) 
          drop-shadow(0 0 20px rgba(22, 160, 133, 0.4));
    cursor: pointer;
}

.icon-tasks {
    width: 30px;
}

hr {
    margin-bottom: 20px;
    margin-top: 5px;
}

#container-task-category {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 0px 5px 20px;
    margin-bottom: 5px;
}

#container-task-category:hover {
    background-color: var(--lightGray);
    cursor: pointer;
    color: var(--lightTeal);
    font-weight: bold;
}

.add-btn {
    width: 25px;
    margin-right: 15px;
}

.category-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-btn:hover {
    filter: drop-shadow(0 0 10px rgba(22, 160, 133, 0.8)) 
          drop-shadow(0 0 15px rgba(22, 160, 133, 0.6)) 
          drop-shadow(0 0 20px rgba(22, 160, 133, 0.4));
    cursor: pointer;
    transform: scale(1.1);
}


/* Dialog Boxes */
.headline-form {
    background-color: var(--lightTeal);
    color: var(--white);
    padding: 10px 10px;
    margin-bottom: 20px;
}

dialog {
    background-color: var(--lightGray);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
    border: var(--lightTeal) 1px solid;
    width: 40%;
    border-radius: 5px;
    box-shadow: 5px 5px 15px var(--mutedNavy);
}

dialog form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px 20px;
    gap: 20px;
}

.container-input-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container-form-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-bottom: 20px;
}

label {
    color: var(--darkGrey);
}

input, select, textarea {
    font-size: 1em;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.container-form-buttons button {
    font-size: 1em;
    padding: 5px 10px;
    font-weight: bold;
    border: none;
    color: var(--white);
}

.form-add-button {
    background-color: var(--lightTeal);
}

.cancel-form {
    background-color: var(--softGray);
}

.container-form-buttons button:hover {
    cursor: pointer;
}

/* Main Area */
#content {
    background-color: var(--lightGray);
    padding: 30px;
}

#container-content-overview {
    padding: 20px;
}